.remodal.modal-validate-confirmation.selext{ data: { remodal_id: "modal-approve" } }
  %h3
    Validate Transaction
  .errors
  .success
  .message
  .controls
    %hr
      %button#btn-confirm-validate.btn.btn-success
        .fa.fa-check
        Yes
      %button#btn-cancel-validate.btn.btn-danger
        .fa.fa-times
        No
