.remodal.modal-cancel-confirmation.selext{ data: { remodal_id: "modal-approve" } }
  %h3
    Cancel Transaction
  .errors
  .success
  .message
  .controls
    %hr
      %button#btn-confirm-cancellation.btn.btn-success
        .fa.fa-check
        Yes
      %button#btn-cancel-cancellation.btn.btn-danger
        .fa.fa-times
        No
