.remodal.modal-approve-confirmation.selext{ data: { remodal_id: "modal-approve" } }
  %h3
    Approve Transaction
  .errors
  .success
  .message
  #modal-controls.controls
    %hr
      %button#btn-confirm-approval.btn.btn-success
        .fa.fa-check
        Yes
      %button#btn-cancel-approval.btn.btn-danger
        .fa.fa-times
        No
