.remodal.modal-check-confirmation.selext{ data: { remodal_id: "modal-approve" } }
  %h3
    Check Transaction
  .errors
  .success
  .message
  .controls
    %hr
      %button#btn-confirm-check.btn.btn-success
        .fa.fa-check
        Yes
      %button#btn-cancel-check.btn.btn-danger
        .fa.fa-times
        No
