= form_tag "", method: 'GET' do
  .row
    .col-md-4
      .form-group
        %label
          Branch
        = select_tag :select_branch, options_from_collection_for_select(@branches, :id, :name, params[:select_branch]), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --", onchange: "this.form.submit();"
    .col-md-4
      .form-group
        %label
          Center
        = select_tag :select_center, options_from_collection_for_select(@centers, :id, :name, params[:select_center]), class: "form-control select-select2", id: "center-select", prompt: "-- SELECT --"
    .col-md-2
      .form-group
        %label
          Actions
        .form-group
          .btn-group
            = button_tag type: 'submit', class: 'btn btn-primary btn-block' do
              .bi.bi-search
