#modal-contact-person.modal.fade{:tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.modal-title
          In Case of Emergency Notify
      .modal-body
        .modal-body-content
          .row
            .col-md-5
              .form-group
                %label Member:  
                %label#member-name{:name => "member-name"} 
          .row
            .col-md-5
              .form-group
                %label
                  Name
                %input#contact-name{:name => "contact-name", :type => "text"  }
            .col-md-5
              .form-group
                %label
                  Contact Number
                %input#contact-number{:name => "contact-number", :type => "text"  }
      .modal-footer
        .controls
          %button#btn-confirm-contact-person.btn.btn-primary{ "data" => {id: 'drilon'} }
            .fa.fa-check  
            Confirm record
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
