APP_HOST=localhost:3000
APP_PIPELINE=local
DATABASE_URL=postgres://user:password@localhost:5432/koins_development
RACK_TIMEOUT_SERVICE_TIMEOUT=20
REDIS_URL=redis://127.0.0.1:6379
ROLLBAR_ACCESS_TOKEN=some_rollbar_access_token
