= form_tag "", method: 'GET' do
  .row
    .col
      .card
        .card-body
          = render partial: "index_filter"
  .row
    .col
      .card
        .card-body
          = render partial: "index_list"





= render partial: "data_stores/member_id_generators/modals/new"
