#modal-print.modal.fade
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %h6.modal-title
          .fa.fa-print
          Printing File...
      .modal-body
        .modal-body-content
          .print-message
