.card
  .card-body
    %center
      %h4
        #{@branch.name}
        %br
        %small.text-muted
          #{@branch.short_name}
    %table.table.table-sm
      %tr
        %th
          Cluster
        %td.text-muted.text-right
          #{@branch.cluster.name}
      