.card
  .card-body
    .row
      .col-md-8.col-xs-12
        .form-group
          %label
            Officer
          = select_tag :user_Id, options_from_collection_for_select(@users, :id, :full_name), class: "form-control", id: "select-officer"
      .col-md-4.col-xs-12
        .form-group
          %label
            Actions
          #btn-search-unregistered-members.btn.btn-primary.btn-block
            .fa.fa-search

.message
#content-unregistered-members
