%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-money-check
      K-Kalinga Form
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to kalinga_claims_path do
        .fa.fa-arrow-left
        Back to Kalinga 

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "members/kalinga_claims/form", locals: { kalinga_claim: @kalinga_claim }
