= title @record.id
.h5
  Soa Loans #{@record.data["branch"]["name"]} - #{DateTime.parse(@record.data["as_of"]).strftime("%b %d, %Y")}
  %br
    %br
      .row
        .col
          .card
            .card-body
              #react-root
