#modal-new.modal.fade{:tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.modal-title
          New Monthly Collection
      .modal-body
        .modal-body-content
          .row
            .col
              .form-group
                %label
                  Branch
                = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "select-branch"
            .col
              .form-group
                %label
                  Account Type
                = select_tag :account_subtype, options_for_select(@account_subtypes), class: 'form-control', id: 'select-account-subtype'
            .col
              .form-group
                %label
                  Closing Date
                = text_field_tag :closing_date, Date.today, type: 'date', id: 'input-closing-date', class: 'form-control'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-new.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-bs-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
