%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-money-bill
    Cash Management
  %li.breadcrumb-item
    .fa.fa-download
    Membership Payments
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to "#", class: 'btn', id: 'btn-new-transaction' do
        .fa.fa-plus
        New Transaction
