%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-money-check
      Calamity Assistance Information
  %li.breadcrumb-item
    .fa.fa-user
      Edit Record for: #{link_to @member.full_name, member_path(@member), target: '_blank'}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to calamity_claims_path do
        .fa.fa-arrow-left
        Back to Claims

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "members/calamity_claims/form", locals: { calamity_claim: @calamity_claim }

