#modal-nav-interest.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Interest Modules
      .modal-body
        = link_to "/data_stores/icpr", class: "btn btn-primary w-100" do
          %span.btn-label
            %i.bi.bi-calculator
          Interest on Share Capital
        = link_to "/data_stores/patronage_refund", class: "btn btn-primary w-100 mt-4" do
          %span.btn-label
            %i.bi.bi-calculator
          Patronage Refund
