%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-lock
    Administration
  %li.breadcrumb-item
    = link_to administration_users_path do
      .fa.fa-users
      Users
  %li.breadcrumb-item
    .fa.fa-pencil-alt
    Edit User: #{@user.full_name}
