%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th
        Collection Date
      %th
        Branch
      %th.text-end
        Amount Collected
      %th
        %center
          Status
  %tbody
    - @insurance_withdrawal_collections.each do |o|
      %tr
        %td
          = link_to insurance_withdrawal_collection_path(o) do
            %strong
              #{o.collection_date.strftime("%b %d, %Y")}
        %td
          #{o.branch}
        %td.text-end
          %strong
            #{number_to_currency(o.total_collected, unit: "")}
        %td
          %center
            - if o.pending?
              .badge.bg-danger
                Pending
            - elsif o.approved?
              .badge.bg-success
                Approved
