= title @record.id
.h5
  SOA Expense #{@record.data["branch"]["name"]} - #{DateTime.parse(@record.data["start_date"]).strftime("%b %d, %Y")} to #{DateTime.parse(@record.data["end_date"]).strftime("%b %d, %Y")}
  %br
    %br
      .row
        .col
          .card
            .card-body
              #react-root
