= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          #content

#parameters{ data: { id: "#{@record.id}" } }
= javascript_include_tag "SoaExpensesShow.min.react"
