= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          - if @clusters.size > 0

            = render partial: "index_list"
          - else
            %p
              No clusters found

= javascript_include_tag "administration/clusters/Index"

:javascript
  $(document).ready(function() {
    Index.init();
  });
