#modal-batch-process.modal.fade{:tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.modal-title
          Batch
      .modal-body
        .modal-body-content
          .row
            .col-md-6-col-xs-12
              .form-group
                %label
                  Branch
                = select_tag :branch_id_branch, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "select-batch-branch", prompt: "-- SELECT --"
            .col-md-6.col-xs-12
              .form-group
          .row
            .col-md-6.col-xs-12
              .form-group
                %label
                  Cut off date(Manual Aging as_of)
                = date_field_tag :date_initialized_cut_off, "2020-11-13", class: "form-control", id: "input-date-initialized-cut-off"
          .row
            .col-md-6.col-xs-12
              .form-group
                %label
                  Start date
                = date_field_tag :batch_start_date, "2020-09-15", class: "form-control", id: "batch-input-start-date"
            .col-md-6.col-xs-12
              .form-group
                %label
                  End date
                = date_field_tag :batch_end_date, "2020-11-13", class: "form-control", id: "batch-input-end-date"
                
      .modal-footer
        .controls
          %button#btn-confirm-batch-process.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-bs-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
