#modal-erase.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Erase Adjustment
      .modal-body
        .modal-body-content
          .bs-callout.bs-callout-info
            Are you sure you want to erase this adjustment?
          .message
      .modal-footer
        .controls
          %button#btn-confirm-erase.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
