= form_tag "", method: 'GET' do
  .row
    .col-md-4
      .form-group
        %label
          Query
        = text_field_tag :q, @q, class: 'form-control', placeholder: 'Name'
    .col-md-4
      .form-group
        %label
          Status
        = select_tag :status, options_for_select(OnlineApplication::STATUSES, @status), class: "form-control select-select2", id: "status-select", prompt: "-- SELECT --"
    .col-md-4
      .form-group
        %label
          Actions
        = button_tag type: 'submit', class: 'btn btn-info btn-block' do
          .fa.fa-search
