= title
.row
  .col
    .card
      .card-body
        - if @admin_address_list.any?
          = render partial: "index_list"
        - else
          %p 
            No regions available

= render partial: "administration/admin_address/modals/new"
 


