#modal-update-transaction.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Accrued Payment
      .modal-body
        .modal-body-content
          .callout.callout-info
            %h6
              NAME:
            %h6
            %p
              %input#bookId{:name => "bookId", :type => "text", :value => ""}
          .message
      .modal-footer
        .controls
          %button#btn-confirm-approve.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
