%div{ class: "card #{accounting_entry.approved? ? 'border-success' : 'border-danger'}" }
  %div{ class: "card-header #{accounting_entry.approved? ? 'bordered-success bg-success text-white' : 'border-danger'}" }
    .row
      .col-md-6
        %strong
          #{accounting_entry.reference_number}
      .col-md-6
        .text-right
          .text-muted
            .fa.fa-store
            #{accounting_entry.branch.to_s}
  .card-body
