%li.nav-title
  Adjustments
%li.nav-item
  = link_to adjustments_subsidiary_adjustments_path, class: "nav-link #{params[:controller] == 'adjustments/subsidiary_adjustments' ? 'active': ''}" do
    %i.nav-icon.fa.fa-file
    Subsidiary
