.sidebar.close
  = link_to root_path do
    .logo-details
      %i.bi.bi-house-door
      %span.logo-name
        KOINS
  %ul.nav-links
    %li
      = link_to root_path, class: "" do
        %i.bi.bi-speedometer
        %span.link-name
          Operations
