%li{ class: "nav-item nav-dropdown" }
  = link_to "#", class: "nav-link nav-dropdown-toggle" do
    %i.nav-icon.fa.fa-money-bill
    Cash Management
  %ul.nav-dropdown-items
    %li{ class: "nav-item #{params[:controller] == 'billings' ? 'active' : ''}" }
      = link_to billings_path, class: 'nav-link' do
        %i.nav-icon.fa.fa-download
        Billing
