#modal-loading.modal.fade.bd-example-modal-lg{"data-backdrop" => "static", "data-keyboard" => "false", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content{:style => "width: 48px"}
      %span.fa.fa-spinner.fa-spin.fa-3x
