- @data = @record.data.with_indifferent_access
- @data_officers = DataStores::BuildInsuranceMemberCountsPerOfficer.new(mc_data: @data).execute!

.row
  .col
    .card
      .card-body
        - if @record.error?
          = render partial: "data_stores/error_page"
        - else
          = render partial: "show_details"
          %hr
          = render partial: "show_officer_details"
