= title @record.id
.h2
  Share Capital Summary
.h3
  Generated date: #{@record[:as_of].to_date.strftime("%B %d, %Y")}
.row
  .col
    .card
      .card-body
        #react-root
        %hr
          %h5

