%table.table.table-sm.table-bordered
  %tr
    %th Particular
    %td
      #{@billing_data_store.meta["data"]["particular"]}
  %tr
    %th OR
    %td 
      #{@billing_data_store.meta["data"]["OR"]}
              
  %tr
    %th AR
    %td 
      #{@billing_data_store.meta["data"]["AR"]}
              
