= form_tag "", method: 'GET' do
  .row
    .col-md-5
      .form-group
        %label
          Center
        = select_tag :center_id, class: "form-control select-select2", id: "center-select", prompt: "-- SELECT --"
    .col-md-4
      .form-group
        %label
          Date Issued
        = text_field_tag :date_applied,params[:date_applied], class: 'form-control', type: :date
    .col-md-3.col
      .form-group
        %label
          Actions
        .form-group
          .btn-group
            = button_tag type: 'submit', class: 'btn btn-primary btn-block' do
              .bi.bi-search
