%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-lock
    Administration
  %li.breadcrumb-item
    = link_to administration_loan_products_path do
      .fa.fa-file
      Loan Products
  %li.breadcrumb-item
    = link_to administration_loan_product_path(@loan_product) do
      .fa.fa-file
      #{@loan_product}
  %li.breadcrumb-item
    .fa.fa-file
    Edit Loan Product: #{@loan_product}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
