%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-lock
    Administration
  %li.breadcrumb-item
    Loan Products
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to administration_download_loan_products_path, class: 'btn' do
        .fa.fa-download
        Download
