%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-lock
    Administration
  %li.breadcrumb-item
    = link_to administration_loan_products_path do
      .fa.fa-file
      Loan Products
  %li.breadcrumb-item
    .fa.fa-file
    New Loan Product
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
