%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-tachometer-alt
    Operations
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to member_form_path, class: "btn" do
        .fa.fa-plus
        New Member
      = link_to "download_backup", class: "btn" do
        .fa.fa-download
        Download Backup
      = link_to members_path(status: 'pending'), class: "btn" do
        .fa.fa-arrow-right
        Pending Records (#{pending_count(@branches)})
