<script id="insurance-account-status-report-template" type="x-tmpl-mustache">
  <table class='ui table small'>
    <thead>
      {{#centers}}
      <tr>
        <th width='5%'>{{center}}</th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
        <th width='5%'></th>
      </tr>
      <tr>
        <th class="six wide"></th>
        <th width='5%'>Member</th>
        <th width='5%'>Recognition Date</th>
        <th width='5%'>Length of Stay</th>
        <th width='5%'>Certificate #</th>
        <th width='5%'>RF</th>
        <th width='5%'>Coverage Date</th>
        <th width='5%'># of Weeks</th>
        <th width='5%'>Past Due</th>
        <th width='5%'>Status</th>
        <th width='5%'>LIF</th>
        <th width='5%'>Coverage Date</th>
        <th width='5%'># of Weeks</th>
        <th width='5%'>Past Due</th>
        <th width='5%'>Status</th>
      </tr>
    </thead>
    <tbody>
        {{#members}}
          <tr>
            <td>{{index}}</td>
            <td>{{name}}</td>
            <td>{{recognition_date}}</td>
            <td>{{length_of_stay}}</td>
            <td>{{identification_number}}</td>
            <td>{{rf_account}}</td>
            <td>{{rf_coverage}}</td>
            <td>{{rf_num_weeks_past_due}}</td>
            <td>{{rf_amt_past_due}}</td>
            <td>{{rf_status}}</td>
            <td>{{lif_account}}</td>
            <td>{{lif_coverage}}</td>
            <td>{{lif_num_weeks_past_due}}</td>
            <td>{{lif_amt_past_due}}</td>
            <td>{{lif_status}}</td>
          </tr>
        {{/members}}
      {{/centers}}
    </tbody>
  </table> 
</script>
