.d-flex.align-items-center{ style: "height: 100vh;" }
  .container
    .card
      .card-body
        %center
          %h2
            Forgot Password for #{@user.username}
        %hr
        .row
          .col
            .mb-4
              %label.form-label{ for: "input-password" }
                New Password
              = password_field_tag :password, "", id: "input-password", class: "form-control", placeholder: ""
            .mb-4
              %label.form-label{ for: "input-password-confirm" }
                Confirm New Password
              = password_field_tag :password_confirm, "", id: "input-password-confirm", class: "form-control", placeholder: ""
            .message
        %hr
        .row
          .col
            %center
              .btn-group
                #btn-confirm.btn.btn-primary
                  %span.bi.bi-check
                  Confirm
