%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-tachometer-alt
    Import Insurance Account Transactions
.container-fluid
  .row
    .col
      .card
        .card-body
          %p#error= flash[:error]
          = form_tag import_insurance_account_transactions_insurance_accounts_path, multipart: true do
            .row
              .col-md-6
                %label
                  File
                = file_field_tag :file, class: "form-control"
              .col-md-6
                %label
                  Actions
                %br  
                = submit_tag "Import Insurance Account Transactions Information", :class => "btn btn-primary"