= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "announcements"

          / Branch Loan Product Stats
          %h5
            Loan Product Stats
          = render partial: "widgets/branch_loan_product_stats"
