= render partial: "index_header"

.container-fluid
  .col
    .breadcrumb
      %li.breadcrumb-item
        Download Database Backup
      %li.breadcrumb-menu.d-md-down-none
        .btn-group
          = link_to "download_backup", class: "btn" do
            %b
              .fa.fa-download
              DOWNLOAD
    
    = render partial: "announcements"

          
