= title
= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          #dashboard-content

#parameters{ data: { username: current_user.username, roles: current_user.roles } }

- if microloans?
  = javascript_include_tag "DashboardMain.min.react"
- elsif microinsurance?
  = javascript_include_tag "DashboardMainMii.min.react"
