= title
= render partial: "insights_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          #content

#parameters{ data: { settings: Settings.insights.to_json, branches: @branches.map{ |o| { id: o[:id], name: o[:name] } }.to_json, start_date: @start_date, end_date: @end_date } }
= javascript_include_tag "Insights.min.react"
