%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-lock
    Administration
  %li.breadcrumb-item
    = link_to administration_announcements_path do
      Announcements
  %li.breadcrumb-item
    .fa.fa-plus
    New Announcement
