%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th.text-center
        Allowance Computation Report

%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
      %th.text-center
        Repor Date
  %thead
    - @records.each do |o|
      %tr
        %td.text-center
          = link_to "/data_stores/allowance_computation_report/#{o.id}" do
            .bi.bi-search
        %td
          #{(o.meta['as_of']).to_date.strftime("%d-%b-%Y")}
