#modal-new.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.modal-title
          New Data Store
      .modal-body
        .modal-body-content
          .bs-callout.bs-callout-info
          
          .row
            .col
              .form-group
                %label
                  Start Date
                = text_field_tag :as_of, Date.today, type: :date, id: "start-date", class: 'form-control'
            .col
              .form-group
                %label
                  End Date
                = text_field_tag :as_of, Date.today + 1.days, type: :date, id: "end-date", class: 'form-control'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-new.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-bs-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
