.row
  .col
    .card
      .card-body
        .row
          .col
            %h4
              #{@member_share}
          .col
            .text-right
              %h4
                Date of Issue:
                - if @member_share.date_of_issue
                  #{@member_share.date_of_issue.strftime("%B %d, %Y")}
        %hr
        .row
          .col
            - if @member_share.data["printed"].to_s == "true"
              Date Printed: #{@member_share.data["date_printed"]}
            - else
              Not yet printed

= render partial: "shared/modals/print"
