%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-money-check
    Microinsurance
  %li.breadcrumb-item
    .fa.fa-money-check
    Clip Claims Register
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to "#", class: 'btn', id: 'btn-new-transaction' do
        .fa.fa-plus
        New Clip Claims
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "clip_claims/list"

= render partial: "clip_claims/new_transaction"

= javascript_include_tag "clip_claims/Index"


:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');

    Index.init({
      authenticityToken: authenticityToken
    });
  });
