%ol.breadcrumb
  %li.breadcrumb-item
    = link_to members_path do
      .fa.fa-users
      Members
  %li.breadcrumb-item
    = link_to member_path(@member) do
      %span.fa.fa-user
      #{@member.full_name}
  %li.breadcrumb-item
    %span.fa.fa-credit-card
    Loan Application
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
