- if @loan.data["paid_loans"].present?
  %table.table.table-hover.table-sm
    %tbody
      - @loan.data["paid_loans"].each do |pl|
        - loan_product = LoanProduct.find_by(id: pl["loan_product_id"])
        - paid_loan = Loan.find_by(id: pl["id"])
        %tr
          %th PN Number:
          %td= link_to paid_loan.pn_number, loan_path(paid_loan)


        %tr
        %th Loan Product:
        %td= loan_product.name

        %tr
        %th Loan Balance:
        %td= number_to_currency(paid_loan&.data&.dig("total_zero_out_interest").to_f, unit: "")

        %tr
        %th waived Balance:
        %td= paid_loan.interest_balance

- else
  %p No data available for full payment.
