%table.table.table-hover.table-sm
  %tr
    %th
      Date of Check
    %td.text-right
      #{@loan.voucher_date_of_check}
  %tr
    %th
      Check Number
    %td.text-right
      #{@loan.voucher_bank_check_number}
  %tr
    %th
      Voucher Number
    %td.text-right
      #{@loan.voucher_check_voucher_number}
