.row
  .col
    .card
      .card-body
        - if @data_store.error?
          = render partial: "data_stores/error_page"
        - else
          =render partial: "data_stores/assets_liabilities/data_table"