= render partial: "books_header", locals: { book: "CDB", book_title: "Cash Disbursements" }

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "book_records", locals: { records: @records }
          = paginate @records
