= title
= render partial: "trial_balance_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          #content

#parameters{ data: { accounting_funds: accounting_funds.to_json } }

= javascript_include_tag 'AccountingTrialBalance.min.react'
