%h4
  For Share Capital Involuntary Members

  - if @records.any?
    = render partial: "index_list"
    = paginate @records
  - else
    %hr
      %h6
        No records

 

= render partial: "data_stores/share_capital_involuntary/modals/new"