= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          #billing-content

          - if development?
            %pre
              %code
                #{JSON.pretty_generate(JSON.parse(@billing.to_json))}


#parameters{ data: { id: @billing.id } }

= javascript_include_tag "BillingUI.min.react"
