%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-book-reader
    Books
  %li.breadcrumb-item
    = link_to "/accounting/books/#{params[:book].upcase}" do
      .fa.fa-book
      #{params[:book].downcase}
  %li.breadcrumb-item
    .fa.fa-file
    Accounting Entry Form
