%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-file
    Accounting
  %li.breadcrumb-item
    .fa.fa-file
    Entries
  %li.breadcrumb-item
    .fa.fa-file
    #{@accounting_entry.reference_number} - #{@accounting_entry.book}
