= render partial: "form_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          #content

#parameters{ data: { id: params[:id], book: params[:book], reference_number: params[:reference_number], branch_id: params[:branch_id] } }

= javascript_include_tag "AccountingEntryForm.min.react"
