= render partial: "form_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          #content

#parameters{ data: { id: params[:id], book: accounting_book_mnemonic(params[:book]) } }

= javascript_include_tag "AccountingEntryForm.min.react"
