= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "shared/accounting_entry", locals: { accounting_entry: @accounting_entry }
