%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-file
    Accounting
  %li.breadcrumb-item
    .fa.fa-file
    Chart of Accounts
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to accounting_download_accounting_codes_path, class: 'btn' do
        .fa.fa-download
        Download
      = link_to "/accounting/print_chart_of_accounts", class: 'btn' do
        .fa.fa-print
        Print
      = link_to new_accounting_accounting_code_path, class: 'btn' do
        .fa.fa-plus
        New Accounting Code
      = link_to "/accounting/download_excel_chart_of_accounts", class: 'btn' do
        .fa.fa-download
        Excel
