%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-file
    Accounting
  %li.breadcrumb-item
    = link_to accounting_accounting_codes_path do
      .fa.fa-file
      Chart of Accounts
  %li.breadcrumb-item
    .fa.fa-plus
    New Accounting Code
