= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          - if @accounting_codes.size > 0
            = render partial: "index_list"
          - else
            %p
              No Accounting codes found

= javascript_include_tag "accounting/accounting_codes/Index"

:javascript
  $(document).ready(function() {
    Index.init();
  });
