= title @accounting_code.code, @accounting_code.name
= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          %h5
            #{@accounting_code}
          %hr
