%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-database
    Data Stores
  %li.breadcrumb-item
    .fa.fa-database
    Statement of Assets Loan Payments
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to "#", class: 'btn', id: 'btn-new' do
        .fa.fa-plus
        New
