.row
  .col
    .card
      %h3 Accrued Interest Collections
      .card-body
        = render partial: "index_filter"
        - if @accrued_interest.any?
          = render partial: "index_list", locals: { accrued_interest: @accrued_interest}
        - else
          %p
            No Accrued Interest Found 

                      
= render partial: "accrued_payment_collections/modals/new_transaction"
