.row
  .col
    .card
      .card-body
        %table.table.table-sm.table-bordered.table-hover
          %thead
            %tr
              %th
                NAME
              -@accrued_interest_collection.data.with_indifferent_access[:headers].each_with_index do |hders, i|
                %th
                  #{hders[:name]}
