.row
  .col
    .card
      .card-body
        %table.table.table-sm.table-bordered.table-hover
          %thead
            %tr
              %th
                Member
              -@accrued_interest_collection.data.with_indifferent_access[:headers].each_with_index do |hders, i|
                %th
                  #{hders[:name]}
              %th
                WP
              %th
                CP
            %tbody
              -@accrued_member.each_with_index do |am , y|
                %tr
                  %td
                    = link_to member_path(am['member_id']), target: "_blank" do
                      %strong
                        #{am['name']}
                    - am['loan_data'].each_with_index do |al , x|
                      %td{:align=>"right"}
                        -if al['amount'] != 'false'
                          //%button.btn.btn-sm.btn-danger.btn-update-transaction{ data: { id: x } }
                          #{al['amount']}
                  %td
                  %td

