.row
  .col-md-6
    .form-group
      %label
        Member
      = select_tag :member, options_from_collection_for_select(@members, :id, :full_name), id: 'select-member', class: 'form-control'
  .col-md-4
    .form-group
      %label
        Amount
      = number_field_tag :amount, 0.00, id: 'input-amount', class: 'form-control'
  .col-md-2
    .form-group
      %label
        Actions
      %button#btn-add.btn.btn-info.btn-block
        .fa.fa-plus
        Add
