:css
  .member-details {
    margin: 150px 0px 0px 375px;
    font-size: 20px;
  }

  .member-name {
    margin-top: 245px;
    margin-left: 80px;
    max-width: 900px;
    font-size: 45px;
  }

  .member-recognition-month {
    margin-left: 110px;
  }

  .member-recognition-year {
    margin-left: 155px;
  }

  #member-certificate {
  }

#member-certificate
  .member-name
    %center
      %p
        #{@member_share_data[:member_full_name]}
  .member-details
    %label
      #{@member_share_data[:date_of_issue_day]}
    %label.member-recognition-month
      #{::Utils::MonthToFilipino.new(@member_share_data[:date_of_issue_month].to_i).execute!.capitalize}
    %label{ class: "member-recognition-year" }
      #{@member_share_data[:date_of_issue_year]}
