/* Entry point for your PostCSS build */

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "select2/dist/css/select2";

// Local imports
@import "./variables";
@import "./sidebar";
@import "./login";
@import "./sk-cube-grid";
@import "./member";

.main-wrapper {
  padding-top: 14px;
}

.navbar, .navbar i, .navbar-light .navbar-nav .nav-link {
  color: $nav-text-color;
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ebebeb;
}

.form-group {
  margin-bottom: 14px;
}

label {
  font-weight: 600;
}

