.row
  .col
    %table.table.table-bordered.table-sm.table-hover
      %thead
        %tr
          %th{ width: "50%" }
            Accounting Code
          %th.text-right{ widith: "25%" }
            Debit
          %th.text-right{ widith: "25%" }
            Credit
      %tbody
        %tr
          %th
            #{@data[:net_entry][:accounting_code][:name]}
          %td.text-right
            #{number_to_currency(@data[:net_entry][:debit], unit: "")}
          %td.text-right
            #{number_to_currency(@data[:net_entry][:credit], unit: "")}
