= form_tag '', method: 'GET' do
  .row
    .col-md-2
      .form-group
        %label
          Query
        = text_field_tag :q, @q, class: 'form-control', placeholder: 'Name / ID Number', id: 'search-name' 
    -# .col-md-2
    -#   .form-group
    -#     %label
    -#       Product
    -#     = select_tag :loan_product_id, options_from_collection_for_select(LoanProduct.order("name ASC"), :id, :name, @loan_product_id), class: "form-control select-select2", id: "loan-product-select", prompt: "-- SELECT --"
    -# .col-md-2
    -#   .form-group
    -#     %label
    -#       Center
    -#     = select_tag :center_id, options_for_select(@centers.map { |center| [center.name, center.id] }, @center_id), class: "form-control select-select2", id: "center-select", prompt: "-- SELECT --"
    .col-md-1
      .form-group
        %label
          Actions
        .btn-group
          %button#search-button.btn.btn-primary.btn-block{ type: 'submit', data: { id: "#{params[:id]}" } }
            .bi.bi-search

