#modal-change-member-type.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Make Payment Type
      .modal-body
        .modal-body-content
          .bs-callout.bs-callout-info
            Change this make type
          .row
            .col
              .form-group
                %label
                  Select Make Payment Type
                = select_tag :member_type, options_for_select(Settings.default_member_types || [], @member.member_type), class: "form-control select-select2", id: "select-member-type"
          .message
      .modal-footer
        .controls
          %button#btn-confirm-change-member-type.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
