#modal-generate-access-token.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Generate Access Token
      .modal-body
        .modal-body-content
          .bs-callout.bs-callout-info
            Do you want to generate an access token (it will replace the old one)
          .message
      .modal-footer
        .controls
          %button#btn-confirm-generate-access-token.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
