#modal-signature.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Signature
      .modal-body
        .modal-body-content
          .bs-callout.bs-callout-info
            Signature
          %canvas#signature-canvas
          .message
      .modal-footer
        .controls
          %button#btn-confirm-signature.btn.btn-primary
            .fa.fa-check
            Confirm
          %button#btn-clear-signature.btn
            .fa.fa-minus
            Clear
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
