%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-lock
    Administration
  %li.breadcrumb-item
    Centers
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to new_administration_center_path, class: 'btn' do
        .fa.fa-plus
        New Center
