%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-lock
    Administration
  %li.breadcrumb-item
    = link_to administration_centers_path do
      Centers
  %li.breadcrumb-item
    .fa.fa-plus
    New Center
