%main.c-main
  .container-fluid
    .row
      .col-md-4.col-xs-12
        = render partial: "show_sidebar"
      .col-md-8.col-xs-12
        = render partial: "show_details"

= render partial: "administration/centers/modals/assign_officer"
= render partial: "templates/error_list"
