%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-chart-pie
    Report 
  %li.breadcrumb-item
    .fa.fa-users
    Calamity Assistance Report
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "calamity_claims_form"

= javascript_include_tag "reports/CalamityClaimReport"

:javascript
  $(document).ready(function() {
    CalamityClaimReport.init();
  });


