%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-chart-pie
    Report 
  %li.breadcrumb-item
    .fa.fa-users
    CIC Report
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "cic_reports_form"



