%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-chart-pie
    Report 
  %li.breadcrumb-item
    .fa.fa-users
    Claim Reports
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "claim_report_form"