%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-book.icon
    Collections BLIP
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "collections_blip_form"


= javascript_include_tag "reports/CollectionsBlipReport"

:javascript
  $(document).ready(function() {
    CollectionsBlipReport.init();
  });