%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-book.icon
    Collections CLIP
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "collections_clip_form"


= javascript_include_tag "reports/CollectionsClipReport"

:javascript
  $(document).ready(function() {
    CollectionsClipReport.init();
  });