%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-chart-pie
    Report 
  %li.breadcrumb-item
    .fa.fa-users
    HIIP Report
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "collections_hiip_form"

= javascript_include_tag "reports/CollectionsHiipReport"

:javascript
  $(document).ready(function() {
    CollectionsHiipReport.init();
  });