%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-chart-pie
    Report 
  %li.breadcrumb-item
    .fa.fa-users
    K-Kalinga Report
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "kalinga_form"

= javascript_include_tag "reports/KalingaReport"

:javascript
  $(document).ready(function() {
    KalingaReport.init();
  });