%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-chart-pie
    Report 
  %li.breadcrumb-item
    .fa.fa-users
    Kuya Jun Scholarship Program Report
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "kjsp_report_form"

= javascript_include_tag "reports/KjspReport"

:javascript
  $(document).ready(function() {
    KjspReport.init();
  });