%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-chart-pie
    Report 
  %li.breadcrumb-item
    .fa.fa-users
    K-JSP Report
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "kjsp_report_form"