%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-chart-pie
    Report
  %li.breadcrumb-item
    .fa.fa-users
    Monthly Collection Report
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "monthly_collection_reports_form"