%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-book.icon
    Summary of Certificates and Policies
.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "summary_of_certificates_and_policies_form"

