%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-file
    Project Type Categories

  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to new_administration_project_type_category_path, class: 'btn' do
        .fa.fa-plus
        New Project Type Category
