%table.table.table-sm.table-hover.table-bordered
  %thead
    %tr
      %th
        Type
      %th.text-end
        Current Balance
  %tbody
    - @equity_accounts.each do |o|
      %tr
        %td
          %strong
            = link_to equity_account_path(o.id) do
              #{o.account_subtype}
        %td.text-end
          %strong
            #{number_to_currency(o.balance, unit: "")}
