%ul.nav.nav-tabs{:role => "tablist"}
  %li.nav-item
    %a.nav-link.active.show{"aria-controls" => "home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#home", :role => "tab"} Profile
  %li.nav-item
    %a.nav-link{"aria-controls" => "loans", "aria-selected" => "false", "data-toggle" => "tab", :href => "#loans", :role => "tab"} Loans
  %li.nav-item
    %a.nav-link{"aria-controls" => "savings_accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#savings_accounts", :role => "tab"} Saving Accounts
  %li.nav-item
    %a.nav-link{"aria-controls" => "insurance_accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#insurance_accounts", :role => "tab"} Insurance Accounts
.tab-content
  #home.tab-pane.active.show{:role => "tabpanel"}
    = render partial: "profile_details"
  #loans.tab-pane{:role => "tabpanel"}
    = render partial: "loans"
  #savings_accounts.tab-pane{:role => "tabpanel"}
    = render partial: "savings_accounts"
  #insurance_accounts.tab-pane{:role => "tabpanel"}
    = render partial: "insurance_accounts"
