.row
  .col
    %h5
      Change Password
    .card.card-body
      .row
        .col
          .form-group
            %label
              Password
            = password_field_tag :password, "", class: 'form-control', id: 'input-mykoins-password'
          .form-group
            %label
              Password Confirmation
            = password_field_tag :password_confirmation, "", class: 'form-control', id: 'input-mykoins-password-confirmation'
          %hr
          #btn-save-mykoins-password.btn.btn-success.btn-block{ data: { access_token: @member.access_token } }
            .fa.fa-check
            Save Password
