- if survey_answers.any?
  %table.table.table-sm.table-bordered.table-hover
    %thead
      %th
        Survey
      %th.text-center
        Last Updated
    %tbody
      - survey_answers.each do |o|
        %tr
          %td
            = link_to member_survey_answer_path(@member, o) do
              #{o.survey.name}
          %td.text-center
            #{o.updated_at.localtime.strftime("%b %d, %Y")}
- else
  %p
    No survey answers found
