.row.tile-count
  .col-md-2.tile-stats-count.border-right
    %span.count_top
      %i.fa.fa-credit-card
      LOAN BALANCE
    .count 

  .col-md-2.tile-stats-count.border-right
    %span.count_top
      %i.fa.fa-money
      SAVINGS
    .count

  .col-md-2.tile-stats-count.border-right
    %span.count_top
      %i.fa.fa-wheelchair
      CBU
    .count.green 

  .col-md-2.tile-stats-count.border-right
    %span.count_top
      %i.fa.fa-wheelchair
      INSURANCE
    .count

  .col-md-2.tile-stats-count.border-right
    %span.count_top
      %i.fa.fa-balance-scale
      EQUITY
    .count 

  .col-md-2.tile-stats-count
    %span.count_top
      %i.fa.fa-user
      Total Something
    .count 
