= render partial: "form_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          #content

#parameters{ data: { id: "#{params[:id]}" } }

= javascript_include_tag "MembersForm.min.react"
