= title
= render partial: "form_header"

%main.c-main
  .container-fluid
    .row
      .col
        .card
          .card-body
            #content

#parameters{ data: { id: "#{params[:id]}", member_types: Settings.default_member_types } }

= javascript_include_tag "MembersForm.min.react"
