.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        - if @members.any?
          = render partial: "index_list", locals: { members: @members }
          = paginate @members
        - else
          %p
            No members found

= render partial: "templates/center_options"
